<div class="text-center my-12">
  <div>
    <span *ngFor="let value of getArrayStarCheck()">
      <span
        class="fa fa-star check mx-6 cursor-pointer"
        [ngClass]="'fs-' + fontSize"
        (click)="onClickStar(value)"
      ></span>
    </span>
    <span *ngFor="let value of getArrayStarUncheck()">
      <span
        class="fa fa-star mx-6 cursor-pointer"
        [ngClass]="'fs-' + fontSize"
        (click)="onClickStar(value)"
      ></span>
    </span>
  </div>

  <div class="mt-8 mb-8">
    <span [ngStyle]="{ color: getColorDescRating() }" class="fs-14 fw-bold">
      {{ descriptionsRating[rating] }}
    </span>
  </div>
</div>
