.check {
  color: orange;
}

.uncheck {
  color: #cecece;
}

/* this code is lifted from InHuOfficial */
.hide-visually,
.star-rating > input {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px);
  /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%);
  /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.star-rating {
  font-size: 40px;
  display: inline-flex;
  padding: 0;
  border: none;
}

.star-rating label {
  cursor: pointer;
  line-height: 1em;
  text-align: center;
}

.star-rating label .star {
  height: 1em;
  width: 1em;
  display: inline-block;
}

.star-rating input:checked ~ label > span.star,
.star-rating > label:hover ~ input ~ label > span.star {
  -webkit-text-stroke: 2px #000;
  color: #fff;
}

.star-rating span.star,
.star-rating:hover > input + label > span.star,
.star-rating > input:checked + label > span.star,
.star-rating > input ~ label:hover > span.star {
  color: gold;
  -webkit-text-stroke: 2px #8a7500;
}

.star-rating > input ~ label:hover > span.star {
  -webkit-text-stroke: 2px #a36a00;
  color: orange;
}

.star-rating > input:checked + label > span.star {
  animation: shake 820ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: rotateZ(0);
}

.star-rating > input:checked + label > span.star::before {
  content: "★";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: currentColor;
  -webkit-text-stroke: 0;
  animation: pulse 820ms cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
  transform: scale(1);
  opacity: 0;
}

@keyframes shake {
  10%,
  90% {
    transform: rotateZ(-1deg);
  }

  20%,
  80% {
    transform: rotateZ(2deg);
  }

  30%,
  50%,
  70% {
    transform: rotateZ(-3deg);
  }

  40%,
  60% {
    transform: rotateZ(3deg);
  }
}

@keyframes pulse {
  10% {
    transform: scale(1);
    opacity: 1;
  }

  90% {
    transform: scale(3);
    opacity: 0;
  }
}


.mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}
